version: 2.1

executors:
  docker-executor:
    docker:
      - image: cimg/base:stable

jobs:
  build:
    executor: docker-executor
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Login to Yandex Registry
          command: echo "$YC_TOKEN" | docker login cr.yandex --username oauth --password-stdin
      - run:
          name: Build and Push Docker image with :latest tag
          command: |
            docker build -t cr.yandex/$YC_REGISTRY/$APP_IMAGE_NAME:latest .
            docker push cr.yandex/$YC_REGISTRY/$APP_IMAGE_NAME:latest

  release:
    docker:
      - image: cimg/node:22.8
    executor: docker-executor
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install Dependencies
          command: |
            npm install semantic-release @semantic-release/commit-analyzer @semantic-release/release-notes-generator @semantic-release/exec @semantic-release/gitlab
      - run:
          name: Run semantic-release
          command: npx semantic-release --ci
      - run:
          name: Save new version to workspace
          command: |
            mkdir -p workspace
            echo "export VERSION=$(git describe --tags --abbrev=0)" > workspace/env_vars
      - persist_to_workspace:
          root: workspace
          paths:
            - env_vars

  deploy:
    executor: docker-executor
    steps:
      - checkout
      - attach_workspace:
          at: ~/project
      - run:
          name: Deploy to server via SSH
          command: |
            source ~/project/env_vars
            echo "Deploying version $VERSION"
            mkdir -p ~/.ssh
            echo "$SSH_PRIVATE_KEY" | base64 -d > ~/.ssh/id_rsa
            chmod 600 ~/.ssh/id_rsa
            ssh-keyscan -H $SERVER_IP >> ~/.ssh/known_hosts
            ssh root@$SERVER_IP "
              TG_TOKEN=\$(yc lockbox payload get --name beyond-secure --key TG_TOKEN) &&
              export TG_TOKEN &&
              docker pull cr.yandex/$YC_REGISTRY/$APP_IMAGE_NAME:latest &&
              cd /root/beyondsecure &&
              docker compose up -d --remove-orphans &&
              docker image prune -af"

workflows:
  build-release-deploy:
    jobs:
      - build:
          filters:
            branches:
              only: main
      - release:
          requires:
            - build
          filters:
            branches:
              only: main
      - deploy-hold:
          type: approval
          requires:
            - release
          filters:
            branches:
              only: main
      - deploy:
          requires:
            - deploy-hold
          filters:
            branches:
              only: main